.logo {
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: var(--grey1);

    &:hover {
        color: var(--grey1);
    }

    :last-child {
        color: var(--primary-color);
        font-size: 1.7rem;
        position: relative;
        top: -3px;
    }
}
