@keyframes blink-caret {
    from,
    to {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.summary-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    --image-width: 18rem;

    .summary-buttons {
        display: flex;
        padding-bottom: 1rem;

        & > div + div {
            margin-left: 1rem;
        }
    }

    .mainlogo-wrapper {
        position: relative;
        box-sizing: content-box;

        display: flex;
        align-items: flex-end;
        justify-content: center;

        padding: 0 2rem 0 2rem;

        border-bottom: 2px solid var(--grey8);
        overflow: hidden;

        @keyframes rotate-clockwise {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        @keyframes rotate-anti-clockwise {
            0% {
                transform: rotate(45deg);
            }

            100% {
                transform: rotate(-405deg);
            }
        }

        .ring {
            position: absolute;
            z-index: -1;

            animation: rotate-clockwise 80s linear 0s infinite normal;

            &.ring-1 {
                width: calc(var(--image-width) + 2rem);
                height: calc(var(--image-width) + 2rem);
                top: calc(var(--image-width) / 2 - 1rem);

                animation-name: rotate-clockwise;
            }

            &.ring-2 {
                width: calc(var(--image-width) + 3rem);
                height: calc(var(--image-width) + 3rem);
                top: calc(var(--image-width) / 2 - 2rem);

                animation-name: rotate-anti-clockwise;

                transform: rotate(45deg);
            }
        }

        &:before {
            content: '';
            position: absolute;
            top: var(--image-width);
            left: 50%;

            width: var(--image-width);
            height: var(--image-width);

            transform: translateX(-50%) translateY(-50%);

            border-radius: 50%;
            background: var(--primary-color);

            z-index: -1;
        }

        .mainlogo {
            width: 100%;

            width: var(--image-width);
            height: var(--image-width);
        }
    }

    .main-title {
        padding-top: 0;
        margin: 0;
        position: relative;

        &.text-cursor::after {
            content: '';
            position: absolute;
            right: -0.5rem;
            top: 50%;
            transform: translateY(-50%);

            height: 70%;
            width: 0.2rem;
            background-color: var(--primary-color);
            animation: blink-caret 0.75s step-end infinite;
        }
    }

    .summary-text {
        font-size: 1.25rem;
        padding-top: 1.5rem;
        margin: 0;
        text-align: center;

        span {
            font-weight: bold;
            color: var(--primary-color);
        }

        span:nth-child(1) {
            background: var(--primary-color);
            padding: 0 0.5rem;
            color: var(--grey10);
            font-weight: bold;
        }
    }

    .hello {
        padding-top: 3.75rem;
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 768px) {
    .summary-mobile {
        .summary-text {
            font-size: 1rem;
        }
    }
}
