.mainlogo {
  opacity: 0;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  transition: opacity 0.3s ease-in-out;
}

.mainlogo-wrapper {
  position: relative;
  box-sizing: content-box;
}

.mainlogo-wrapper:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation: borders 6s infinite linear;
}

.mainlogo-wrapper:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation: borders 6s infinite 3s linear;
}

.loaded {
  opacity: 1;
}

.main-title {
  padding-top: 2.75rem;
}

.summary-text {
  padding-top: 2.5rem;
}

.scroll-text {
  padding-top: 2.75rem;
}

@keyframes borders {
  0% {
    width: 20rem;
    height: 20rem;
    border: 2px solid var(--red);
  }
  100% {
    width: 24rem;
    height: 24rem;
    border: 2px solid transparent;
  }
}
