.skeleton {
    min-height: 300px;
    background: linear-gradient(
        45deg,
        var(--grey9) 25%,
        var(--grey8) 50%,
        var(--grey9) 75%
    );
    background-size: 200% 100%;
    border-radius: var(--border-radius);
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}
