.ToggleButton {
  position: relative;
  width: 36px;
  height: 1rem;
  display: flex;
  align-items: center;
}

.circle {
  width: 17px;
  height: 17px;

  border-radius: 50%;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  transition: all 0.3s ease-in;
}

.bar {
  height: 20px;
  width: 100%;
  border-radius: 50px;
  padding: 2px;
}

#on .bar {
  background-color: #ffaeae;
}
#off .bar {
  background-color: #e0e0e0;
}
#on .circle {
  background-color: #eb5757;
  left: calc(100% - 19px);
}
#off .circle {
  background-color: #bdbdbd;
  left: 2px;
}
