.skill-pill {
    position: relative;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    align-items: center;
    justify-content: center;

    background-color: var(--grey9);
    color: var(--grey1);

    padding: 1.5rem;
    border-radius: 0.5rem;

    transition: opacity 0.2s;

    .icon {
        text-align: center;
    }

    .name {
        font-size: 0.8125rem;
    }

    .open-link-icon {
        opacity: 0;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
    }

    &:hover {
        font-weight: 400;
        background-color: var(--grey8);
        color: var(--grey1) !important;

        .open-link-icon {
            opacity: 1;
        }
    }
}

@media only screen and (max-width: 768px) {
    .skill-pill {
        .icon {
            width: 24px;
            height: 24px;
        }
    }
}
