.project-section-body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    width: 100%;
    padding-bottom: 0.5rem;
    grid-gap: 0.5rem;
}

/* Mobile */
@media (max-width: 425px) {
    .project-section-body {
        grid-template-columns: 1fr;
    }
}
