.section-floating-element {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    //border:1px solid red;
}

.section {
    position: relative;
}

/*Section spacing*/
.section + .section {
    padding-top: 8.25rem;
}

.section-title {
    color: var(--primary-color);
}
