.form-wrapper {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    .input-form-control {
        display: grid;

        &:has(input:focus, textarea:focus) label {
            font-weight: bold;
            color: var(--primary-color);
        }

        &:last-child {
            grid-column: span 2;
        }

        input.highlight-error,
        textarea.highlight-error {
            border: var(--border-width) solid var(--primary-color);
        }

        label {
            color: var(--grey5);
            font-size: 0.8125rem;
            padding-bottom: 0.25rem;
        }

        .error-message-label {
            padding-top: 0.25rem;
            font-size: 0.8125rem;
        }
    }
}

.buttonContainer {
    margin-top: 1rem;
}

.loading .icon svg {
    animation: rotate360 1s linear infinite;
}

@keyframes rotate360 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    .form-wrapper {
        grid-template-columns: 1fr;

        .input-form-control {
            &:last-child {
                grid-column: span 1;
            }
        }
    }
}