.bar-graph {
  background: var(--input-background);
  height: 2.25rem;
  border-radius: 0.25rem;
  overflow: hidden;
  transition: background-color 0.5s ease-in;
}

.filled {
  display: block;
  height: 2.25rem;
  background: linear-gradient(
    101.14deg,
    var(--orange) 0.99%,
    var(--red) 177.11%
  );
  border-radius: 0.25rem;
  cursor: pointer;
}

.show-on-scroll .filled {
  transition: all 900ms ease-in-out;
}
.show-on-scroll.is-visible .filled {
  transition: all 900ms ease-in-out;
}
