@import "../../../mixins";

.bar-graph {
  @include card-bg;
  height: 2.25rem;
  border-radius: var(--border-radius);
  overflow: hidden;
  //transition: background-color 0.5s ease-in;

  .filled {
    display: block;
    height: 2.25rem;
    background: linear-gradient(
      101.14deg,
      hsl(
          calc(var(--primary-hue) + 25),
          var(--primary-saturation),
          var(--primary-light)
        )
        0.99%,
      var(--primary-color) 177.11%
    );
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 900ms ease-in-out;
  }
}
