.highlighted-articlecard {
    border-radius: var(--border-radius);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    grid-column: span var(--no-of-article-columns);

    .article-image img {
        height: auto;
        width: 100%;
        object-fit: cover;
        object-position: left;
    }

    background-color: var(--grey9);

    &:hover {
        background-color: var(--grey8);
    }

    .content {
        grid-column: span 1;

        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 1.5rem;

        .description {
            font-size: 1rem;
            padding-top: 0.5rem;
        }

        .date {
            color: var(--grey5);
            font-size: 0.8125rem;
            padding-top: 1rem;
        }
    }
}

@media (max-width: 1200px) {
    .highlighted-articlecard {
        width: 100%;
        display: flex;
        flex-direction: column;

        &:hover {
            background-color: transparent;
        }

        .article-image {
            width: 100%;
        }

        .content {
            width: 100%;
            padding: 1rem !important;
        }
    }
}
