.app-container {
    --app-max-width: 1200px;

    max-width: var(--app-max-width);
    width: 100%;
    position: relative;

    padding: 5.25rem 1rem;

    margin: auto;

    .darkModeWrapper {
        position: fixed;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        z-index: 999;
    }
}

#top-scroll-bar {
    z-index: 101;
}

/* L Desktop */
@media (min-width: 1025px) {
    .app-container {
        --app-max-width: 1200px;
    }
}

/* Desktop */
@media (max-width: 1024px) {
    .app-container {
        --app-max-width: 960px;
    }
}

/* Tablet */
@media (max-width: 768px) {
    .app-container {
        --app-max-width: 600px;
    }
}

/* Mobile */
@media (max-width: 425px) {
    .app-container {
        --app-max-width: 100%;
        padding: 6rem 1rem;
    }
}
