@keyframes slideInFromLeft {
    0% {
        transform: translateX(min(-14.5rem, -230.517px));
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideOutToLeft {
    0% {
        transform: translateX(0);
    }

    80% {
        transform: translateX(min(-15.5rem, -246.517px));
    }

    100% {
        transform: translateX(min(-14.5rem, -230.517px));
    }
}

.left-pane {
    position: fixed;
    top: 10rem;
    left: -2px;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    width: 14.5rem;
    animation: slideInFromLeft 300ms ease-in-out forwards;
    z-index: 1;
    background-color: var(--grey9);

    &.open {
        animation: slideInFromLeft 300ms ease-in-out forwards;

        .toggle-button {
            transform: translateX(0);
        }

        .arrow {
            width: 1rem;
            height: 1rem;
            fill: var(--primary-color);
        }
    }

    &.closed {
        animation: slideOutToLeft 300ms ease-in-out forwards;

        .toggle-button {
            transform: translateX(3rem);
            border-radius: 0 var(--border-radius) var(--border-radius) 0;
            background: var(--grey9);

            &:hover {
                background: var(--grey8);
            }
        }

        .arrow {
            transform: rotate(180deg);
            width: 1.5rem;
            height: 1.5rem;
            fill: var(--primary-color);
        }
    }

    ul.menu {
        padding: 0 1rem 1.5rem 1.5rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        grid-gap: 0.8125rem;
        margin-bottom: 0;

        li {
            list-style: none;
            cursor: pointer;
            font-size: 16px;
            color: var(--grey5);

            &.bold {
                color: var(--grey1);

                &:before {
                    content: '';
                    border-left: 3px solid var(--primary-color);
                    position: relative;
                    left: -1rem;
                }
            }
        }
    }

    .left-pane-header-container {
        display: flex;
        justify-content: space-between;

        .left-pane-header {
            font-size: 0.8125rem;
            padding: 1rem 1.5rem;
            color: var(--primary-color);
        }

        .toggle-button {
            width: 3rem;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;

            cursor: pointer;

            transition: transform 300ms linear;
        }
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 1200px) {
    .left-pane {
        display: none !important;
    }
}