.left-pane {
  position: relative;
  top: 10rem;
  /*background-color: var(--input-background);*/
  border-radius: 0.25rem;
  border: 1px solid var(--grey5);
  width: 14.5rem;
  /*box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.08);*/
}

.left-pane.open {
  animation: slideInFromLeft 0.5s ease-in-out forwards;
}

.left-pane.closed {
  animation: slideOutToLeft 0.5s ease-in-out forwards;
}

ul.menu {
  padding: 0 1rem 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  grid-gap: 0.8125rem;
  margin-bottom: 0;
}

.menu li {
  list-style: none;
  cursor: pointer;
  font-size: 16px;
}

.menu li.bold {
  color: var(--grey1);
}

.menu li.bold::before {
  content: "";
  border-left: 3px solid var(--red);
  position: relative;
  left: -1rem;
}

@keyframes slideInFromLeft {
  0% {
    left: min(-14.5rem, -230.517px);
  }
  80% {
    left: 1rem;
  }
  100% {
    left: 0;
  }
}

@keyframes slideOutToLeft {
  0% {
    left: 0;
  }
  80% {
    left: min(-15.5rem, -246.517px);
  }
  100% {
    left: min(-14.5rem, -230.517px);
  }
}

.left-pane-header-container {
  display: flex;
  justify-content: space-between;
}
.left-pane-header {
  font-size: 0.8125rem;
  padding: 1rem 1.5rem;
  color: var(--red);
}

.toggle-button {
  /*height: 2rem;*/
  width: 3rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;

  cursor: pointer;
  transition: 0.5s linear;
}

.left-pane.open .toggle-button {
  right: 0;
}

.left-pane.closed .toggle-button {
  right: -2.5rem;
  /*background-color: var(--red);*/
  /*box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.08);*/
  border-radius: 0.25rem;
  border: 1px solid var(--grey5);
}

.arrow {
  position: relative;
  left: 0.1rem;
  display: block;
  width: 0.6rem;
  height: 0.6rem;

  border-left: 2px solid var(--red);
  border-top: 2px solid var(--red);
}
.left-pane.open .arrow {
  transform: rotate(-45deg);
}
.left-pane.closed .arrow {
  transform: rotate(135deg);
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 1200px) {
  .left-pane {
    display: none !important;
  }
}
