@import '../../../mixins';

.article-card {
    cursor: pointer;
    overflow: hidden;

    &:hover {
        @include card-bg;
    }

    .article-content {
        padding: 0.5rem 1rem;

        .date {
            font-size: 0.8125rem;
            color: var(--grey5);
            padding-top: 0.5rem;
        }
    }
}

@media (max-width: 1200px) {
    .article-card:hover {
        background-color: transparent;
    }
}