.article-card {
    cursor: pointer;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-sizing: content-box;
    background-color: var(--grey9);

    display: flex;
    flex-direction: column;

    --image-height: 12rem;

    .image-container {
        height: var(--image-height);
        overflow: hidden;
        img {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: transform 0.3s ease;
        }
    }

    &:hover {
        background-color: var(--grey8);

        .image-container img {
            transform: scale(1.04);
        }
    }

    .article-content {
        box-sizing: content-box !important;
        padding: 1rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100% - var(--image-height));

        .title {
            padding-top: 0.25rem;
            font-size: 1.25rem;

            /* display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;

            overflow: hidden; */
        }
        .brief {
            display: none;
        }
        .date {
            font-size: 0.65rem;
            color: var(--grey5);
        }

        .explore-button {
            padding-top: 1rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 0.8125rem;
        }
    }
}

@media only screen and (max-width: 768px) {
    .article-card {
        .article-content .brief {
            display: block;
            padding-top: 0.25rem;
        }
    }
}
