@import "../../../mixins";

.article-card {
  border: 1px solid var(--grey7);
  border-radius: var(--border-radius);
  overflow: hidden;
  width: calc(
    100% / var(--no-of-article-cards) - (1rem / var(--no-of-article-cards))
  );

  --no-of-article-cards: 3;

  display: flex;
  flex-direction: column;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    @include card-bg;
    border: 1px solid var(--primary-color);
  }

  .article-content {
    padding: 0.5rem 1rem;
    .date {
      font-size: 0.8125rem;
      color: var(--grey5);
      padding-top: 0.5rem;
    }
  }
}

@media (max-width: 1200px) {
  .article-card {
    --no-of-article-cards: 2;

    &:hover {
      background-color: transparent;
    }
  }
}
