.articlecard {
  border: 1px solid var(--grey7);
  border-radius: 0.25rem;
  overflow: hidden;
  --no-of-article-cards: 3;
  width: calc(
    100% / var(--no-of-article-cards) - (1rem / var(--no-of-article-cards))
  );
  display: flex;
  flex-direction: column;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    background-color: var(--grey9);
  }
  .date {
    font-size: 0.8125rem;
    color: var(--grey5);
  }
}

@media (max-width: 1200px) {
  .articlecard {
    --no-of-article-cards: 2;

    &:hover {
      background-color: transparent;
    }
  }
}
