.feedback-content {
  .subsection-title {
    margin-bottom: 1rem;
    display: block;
  }
  .buttonContainer {
    margin-top: 1rem;
  }
}
.loading .icon svg {
  animation: rotate360 1s linear infinite;
}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
