.social-link {
    svg {
        stroke: var(--primary-color);
    }
    &:hover {
        svg {
            stroke: var(--primary-color-dark);
        }
    }
}

.horizontally-placed {
    display: flex;
    margin-top: 0;

    .subsection-data {
        margin-top: 2rem;
    }

    .subsection-data + .subsection-data {
        padding-left: 3rem;
    }
}

@keyframes slideIn {
    0% {
        right: -2.5rem;
    }

    80% {
        right: 0.5rem;
    }

    100% {
        right: 0;
    }
}
