* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 18px;
}

body{
  --app-background : white;
  --input-background: #dbdbdb33;
  /* --input-background: white; */

  --grey1: #333333;
  --grey2: #4f4f4f;
  --grey3: #828282;
  --grey4: #bdbdbd;
  --grey5: #e0e0e0;
  --grey6: #f2f2f2;;

  --red: #eb5757;
  --orange: #f2994a;
  --light-orange:#ffaeae;
  --yellow: #f2c94c;
  --green: #27ae60;

  background-color: var(--app-background) !important;
  color:var(--grey1);
}

body.darkmode {
  --app-background : #212122;
  --input-background:#262627;

  --grey6: #333333;
  --grey5: #4f4f4f;
  --grey4: #828282;
  --grey3: #bdbdbd;
  --grey2: #e0e0e0;
  --grey1: #f2f2f2;

  color:var(--grey1);

}

.App {
  position: relative;
  padding: 5.25rem;
}

.App:before{
  content: "";
  position: absolute;
  width: 100%;
  height:100%;
  top:0;
  left: 0;
  background : repeating-conic-gradient(from 45deg at 40% 20%, transparent 0 180deg, var(--app-background) 180deg 270deg, transparent 270deg 360deg);
  background-size:120% 80%;
  z-index: -1;
}
.App:after{
  content: "";
  position: absolute;
  width: 100%;
  height:100%;
  top:0;
  left: 0;
  background : repeating-conic-gradient(from 0deg at 60% 60%, transparent 0 45deg, var(--app-background) 45deg 135deg, transparent 135deg 360deg);
  background-size:100% 80%;

  z-index: -1;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold !important;
}
.letterspacing-1 {
  letter-spacing: 1px;
}
.letterspacing-2 {
  letter-spacing: 2px;
}
/*Type*/
.h1 {
  font-size: 2.75rem;
}
.h2 {
  font-size: 2rem;
  display: inline;
  position: relative;
}


.h3 {
  font-size: 1.5rem;
}

.h4 {
  font-size: 1.25rem;
}
.body-text {
  font-size: 1rem;
}
.default-text {
  font-size: 1rem;
}
.label {
  font-size: 0.875rem;
}
input {
  width: 100%;
  border: 1px solid var(--grey4);
  height: 2.5rem;
  padding: 0 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.5s ease-in-out;
  background: var(--input-background);
}
.darkmode input {
  border: none;
  color: var(--grey6);
}
.darkmode textarea:focus,
.darkmode input:focus {
  outline-color: grey;
}
textarea {
  width: 100%;
  border: 1px solid var(--grey4);
  height: 6.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.5s ease-in-out;
  background: var(--input-background);
}
.darkmode textarea {
  border: none;
  color: var(--grey6);
}
button {
  background: var(--red);
  color: white;
  padding: 0.6rem 2rem;
  border: 0;
  border-radius: 0.25rem;
  font-weight: bold;
}

.back-to-work-button {
  display: none;
  position: absolute;
  top: 0;
  left: 2rem;
}
.back-to-work-button > img {
  transform: rotate(180deg);
}
ul {
  list-style: none !important;
}
ul > li {
  text-decoration: none !important;
}

a:hover,
ul > li a:hover {
  color: var(--red);
  text-decoration: none;
  font-weight: bold;
}
ul > li a:hover {
  color:var(--grey2) !important;
}

/*Colors*/
.grey1 {
  color: var(--grey1);
}
.darkmode .grey1 {
  color: var(--grey1);
}
.grey2,
.grey2 > a {
  color: var(--grey2) !important;
}

.grey3 {
  color: var(--grey3);
}
.grey4,
.grey4 > a {
  color: var(--grey4) !important;
}

.grey5 {
  color: var(--grey5);
}
.grey6 {
  color: var(--grey6);
}
.red,
.red > a {
  color: var(--red);
}
.orange {
  color: var(--orange);
}
.yellow {
  color: var(--yellow);
}
.green {
  color: var(--green);
}
.success-banner {
  padding: 0.5rem 1rem;
  color: white !important;
  background: var(--green);
  border-radius: 0.25rem;
}
.error-banner {
  padding: 0.5rem 1rem;
  color: white !important;
  background: var(--red);
  border-radius: 0.25rem;
}
.neutral-banner {
  padding: 0.5rem 1rem;
  color: white !important;
  background: var(--grey3);
  border-radius: 0.25rem;
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding: 0 0.5rem;
}

/*Section spacing*/
.section {
  padding-top: 8.25rem;
}

.section-title{
  color: var(--red);
}


.dot {
  height: 4px;
  width: 4px;
  display: inline-block;
  border-radius: 50%;
  background: var(--grey5);
}

/*Summary*/
.main-title {
  padding-top: 2.75rem;
}
.summary-text {
  padding-top: 2.5rem;
}
.scroll-text {
  padding-top: 2.75rem;
}
.main-body {
  width: 100%;
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 1200px) {
  :root {
    font-size: 11px;
  }
  .App {
    padding: 1rem 1rem 5rem 1rem;
    padding-top: 6rem;
  }
  .letterspacing-1 {
    letter-spacing: 1px;
  }
  .letterspacing-2 {
    letter-spacing: 2px;
  }
  .back-to-work-button {
    display: block;
  }
  .main-body {
    margin: 0;
  }
}

.show-on-scroll {
  opacity: 0;
  transform: translateY(2rem);

  transition: all 600ms ease-in;
}

.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.darkModeWrapper {
  position: fixed;
  top: -1.5rem;
  right: 1rem;
  cursor: pointer;
  z-index: 999;
  animation: slideInFromTop 1s ease-in-out forwards;
}

@keyframes slideInFromTop {
  0% {
    top: -1.5rem;
  }
  80% {
    top: 1.5rem;
  }
  100% {
    top: 1rem;
  }
}

.darkModeButton {
  display: flex;
  align-items: center;
  color: var(--grey4);
}
.darkModeButton .light {
  padding-right: 0.5rem;
}
.darkModeButton .dark {
  padding-left: 0.5rem;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--grey6);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--grey4);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--grey1);
}
