*{
    margin:0;
    padding:0;
}
html{
    font-size: 16px;
}
body{
    font-family: 'Montserrat','Open Sans','Helvetica';
}
.App{
    padding:8.25rem;
}
.uppercase{
text-transform: uppercase;
}
.bold{
font-weight: bold;
} 
.letterspacing-1{
    letter-spacing: 2px;
}
.letterspacing-2{
    letter-spacing: 4px;
}
/*Type*/
.h1{
    font-size: 2.75rem;/*44px*/
}
.h2{
    font-size: 2rem;/*32px*/
}
.h3{
    font-size: 1.5rem;/*24*/
}
.h4{
    font-size: 1.25rem;/*20px*/
}
.body-text{
    font-size: 1.125rem;/*18px*/
}
.default-text{
    font-size:1rem;
}
.label{
    font-size: 0.875rem;/*14px*/
}




ul{
    list-style: none !important;
}
ul > li{
    text-decoration: none !important;
}


a:hover,
ul > li a:hover{
    text-decoration: none;
    font-weight: bold;
}
ul > li a:hover{
color:#4F4F4F !important;
}

/*Colors*/
.grey1{
color:#333333;
}
.grey2,
.grey2 > a{
color:#4F4F4F !important;
}
.grey3{
color:#828282;
}
.grey4,
.grey4 >a{
color:#BDBDBD !important;
}
.grey5{
color:#E0E0E0;
}
.grey6{
color:#F2F2F2;
}
.red,
.red > a{
color:#EB5757;
}
.orange{
color:#F2994A;
}
.yellow{
color:#F2C94C;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
    padding:0 0.5rem;
}

/*Section spacing*/
.section{
   padding-top:8.25rem;
}

.dot{
    height: 4px;
    width:4px;
    display: inline-block;
    border-radius: 50%;
    background: #E0E0E0;
}

/*Summary*/
.main-title{
    padding-top:2.75rem;
}
.summary-text{
    padding-top:2.5rem;
}
.scroll-text{
    padding-top:2.75rem;
}
.main-body{
    width:100%;
}


/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) { 
    html{
        font-size: 11px;
    }
    .App{
        padding:3rem;
        padding-top:6rem;
    }
    .letterspacing-1{
        letter-spacing: 1px;
    }
    .letterspacing-2{
        letter-spacing: 2px;
    }


}

.show-on-scroll{
    opacity: 0;
    transform: translateY(2rem);
    
    transition: all 600ms ease-in;
}

.is-visible{
    opacity: 1;
    transform: translateY(0);
}
