.mainlogo {
  opacity: 0;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  transition: opacity 0.3s ease-in-out;
}
.loaded {
  opacity: 1;
}

@keyframes eyebrowmovementRight {
  0% {
    transform: translateY(0);
  }
  80% {
    transform: rotate(6deg) translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes eyebrowmovementLeft {
  0% {
    transform: translateY(0);
  }
  80% {
    transform: rotate(-6deg) translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
