.mainlogo {
  opacity: 0;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  transition: opacity 0.3s ease-in-out;
  /* animation: circularSpin 5s infinite ease-in; */
}

.mainlogo-wrapper {
  position: relative;
  box-sizing: content-box;
}

.mainlogo-wrapper:after {
  content: "";
  position: absolute;
  width: 20rem;
  height: 20rem;
  border: 2px solid var(--red);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation: borders 6s infinite linear;
}

.mainlogo-wrapper:before {
  content: "";
  position: absolute;
  width: 20rem;
  height: 20rem;
  border: 2px solid var(--red);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation: borders 6s infinite 3s linear;
  opacity: 0;
}

.loaded {
  opacity: 1;
}

@keyframes borders {
  0% {
    width: 20rem;
    height: 20rem;
    opacity: 1;
  }
  100% {
    width: 24rem;
    height: 24rem;
    opacity: 0;
  }
}
