progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  border: 0;
  border-radius: 0;
  height: 4px;
}
progress::-webkit-progress-bar {
  background-color: var(--grey6);
}
progress::-webkit-progress-value {
  background-color: var(--red);
}
progress::-moz-progress-bar {
  background-color: var(--red);
}
