.toggle-wrapper {
  display: flex;
  height: 2rem;
  cursor: pointer;

  .option {
    width: 50%;
    border: 2px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8125rem;
    font-weight: bold;

    padding: 1px 0.8rem 0 0.8rem;
    position: relative;

    &:has(input:focus) {
      border: 2px solid white;
    }

    input {
      opacity: 0;
      position: absolute;
      cursor: pointer;
    }

    &:first-child {
      border-radius: 0.25rem 0 0 0.25rem;
    }
    &:last-child {
      border-radius: 0 0.25rem 0.25rem 0;
    }

    &.highlight {
      background: var(--primary-color);
    }
  }
}
