.App {
  position: relative;
  padding: 5.25rem 2rem;
}

.darkModeWrapper {
  position: fixed;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  z-index: 999;
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 1200px) {
  .App {
    padding: 1rem 1rem 5rem 1rem;
    padding-top: 6rem;
  }
}
