.menu {
  margin: 1rem 0;
}
.menu li {
  list-style: none;
  cursor: pointer;
  font-size: 16px;
}

.menu li.bold::before {
  content: "";
  border-left: 3px solid var(--red);
  position: relative;
  left: -1rem;
}
.menu li + li {
  margin-top: 1rem;
}

.left-pane {
  position: relative;
  top: 10rem;
  background-color: var(--input-background);
  border-radius: 0.25rem;
  padding: 1rem 2rem;

  width: 14.5rem;
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.08); 
}

.left-pane.open {
  animation: slideInFromLeft 0.5s ease-in-out forwards;
}

.left-pane.closed {
  animation: slideOutToLeft 0.5s ease-in-out forwards;
}

@keyframes slideInFromLeft {
  0% {
    left: min(-14.5rem, -230.517px);
  }
  80% {
    left: 1rem;
  }
  100% {
    left: 0;
  }
}

@keyframes slideOutToLeft {
  0% {
    left: 0;
  }
  80% {
    left: min(-15.5rem, -246.517px);
  }
  100% {
    left: min(-14.5rem, -230.517px);
  }
}

.toggle-button {
  height: 2rem;
  width: 2rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;

  cursor: pointer;
  transition: 0.5s linear;
}

.left-pane.open .toggle-button {
  right: 0;
  background-color: var(--input-background);
}
.left-pane.closed .toggle-button {
  right: -2rem;
  background-color: var(--red);
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.08);
}

.arrow {
  position: relative;
  left: 0.1rem;
  display: block;
  width: 0.6rem;
  height: 0.6rem;
}
.left-pane.open .arrow {
  transform: rotate(-45deg);
  border-left: 2px solid var(--red);
  border-top: 2px solid var(--red);
}
.left-pane.closed .arrow {
  transform: rotate(135deg);
  border-left: 2px solid var(--grey6);
  border-top: 2px solid var(--grey6);
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 1200px) {
  .left-pane {
    display: none !important;
  }
}
