.project-card {
    padding: 1rem 1rem;
    border-radius: var(--border-radius);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    background-color: var(--grey9);

    &:hover {
        background-color: var(--grey8);
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        grid-gap: 0.5rem;
        padding-top: 0.5rem;

        .tag {
            font-size: 0.65rem !important;
            color: var(--grey10);
            font-weight: bold;
            background-color: var(--primary-color);
            padding: 1px 0.65rem;
            border-radius: 1rem;
            text-align: center;
        }
    }

    .description {
        padding-top: 1rem;
        max-height: 13rem;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.8125rem;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;

        .projectlinks {
            display: flex;

            .contactimg {
                width: 1.2rem;
                stroke: var(--primary-color);
                &:hover {
                    stroke: var(--primary-color-dark);
                }
            }
        }

        .link + .link {
            margin-left: 1rem;
        }
    }

    .projectstatus {
        display: flex;
        align-items: center;

        &.Progress .statuscircle {
            background-color: var(--orange);
        }

        &.Complete .statuscircle {
            background-color: var(--green);
        }

        &.Complete .label {
            color: var(--green);
        }

        &.Progress .label {
            color: var(--orange);
        }

        .label::first-letter {
            text-transform: uppercase;
        }
    }

    .statuscircle {
        border-radius: 50%;
        height: 0.75rem;
        width: 0.75rem;
        margin-right: 0.5rem;
    }
}
