.button {
  padding: 0.6rem 1.5rem;
  border-radius: 0.25rem !important;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.with-label .icon {
    top: -1px;
  }

  &.brand {
    background: var(--primary-color);
    color: var(--grey0);
    border: 0;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    &:hover:before {
      background: rgba(0, 0, 0, 0.15);
    }
    &:active:before {
      background: rgba(0, 0, 0, 0.25);
    }
  }

  &.neutral {
    border: 1px solid var(--grey5);
    color: var(--primary-color);
    background: var(--grey0);
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    &:hover:before {
      background: rgba(0, 0, 0, 0.15);
    }
    &:active:before {
      background: rgba(0, 0, 0, 0.25);
    }
  }

  &.base {
    border: none;
    background: none;
    color: var(--primary-color);
  }

  .label + .icon {
    padding-left: 0.5rem;
  }
  .icon {
    position: relative;
  }
}
