.button {
    padding: 0.6rem 1.5rem;
    border-radius: var(--border-radius) !important;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    transition: 0.1s linear;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &:hover:not(:disabled) {
        cursor: pointer;
    }

    &.with-label .icon {
        top: -1px;
    }

    &.brand {
        border: var(--border-width) solid var(--primary-color);
        background: var(--primary-color);
        color: var(--grey10);
        border: 0;

        &:hover {
            background-color: var(--primary-color-dark);
        }
    }

    &.neutral {
        border: var(--border-width) solid var(--grey7);
        color: var(--primary-color);
        background: var(--grey10);

        &:hover {
            background-color: var(--grey9);
        }
    }

    &.base {
        border: none;
        background: none;
        color: var(--primary-color);

        &:hover {
            color: var(--primary-color-dark);
        }
    }

    .label {
        /* text-transform: uppercase; */
        font-size: 1rem;
    }

    .label + .icon {
        padding-left: 0.75rem;
    }

    .icon {
        padding-top: 0.25rem;
        svg {
            height: 1.25rem;
            width: 1.25rem;
        }
    }
}
