.recent-articles-grid {
    --no-of-article-columns: 3;

    display: grid;
    grid-template-columns: repeat(var(--no-of-article-columns), 1fr);

    gap: 0.5rem;
}

.view-all-button {
    margin-top: 1.5rem;
}

/* Desktop */
@media (max-width: 1024px) {
    .recent-articles-grid {
        --no-of-article-columns: 3;
    }
}

/* Tablet */
@media (max-width: 768px) {
    .recent-articles-grid {
        --no-of-article-columns: 2;
    }
}

/* Mobile */
@media (max-width: 425px) {
    .recent-articles-grid {
        --no-of-article-columns: 1;
    }
}
