.main-title {
  padding-top: 2.75rem;
}
.summary-text {
  padding-top: 2.5rem;
}
.scroll-text {
  padding-top: 2.75rem;
}
.hide {
  opacity: 0;
  transition: height 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}
.show {
  opacity: 1;
  transition: height 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}
