.portfolio{
    padding:2rem;
}
.portfolio-menu{
    display:flex;
    padding-top:2rem;
    /* transform: translate(1rem, 0); */
    position:relative;
    left:0.7rem;
}
.portfolio-menu li + li{
    padding-left : 2rem;
}
.portfolio-menu li a{
    cursor: pointer;
}
.portfolio-body{
    padding:1rem 2.625rem 2.625rem 2.625rem !important;
    max-width: 74.75rem;
    height:100%;
    overflow-y:auto;
}
.portfolio-header > img{
    width:2.125rem;
}
.portfolio-footer{
    position: fixed;
    bottom: 0;
    padding:2rem 0 2rem 0!important;
    background: white;
}
.thumbnail{
    height: 207px;
}
.thumbnail + .thumbnail:nth-child(n+4),
.thumbnail + .thumbnail:nth-child(n+5),
.thumbnail + .thumbnail:nth-child(n+6){
    margin-top:1rem;
}
.thumbnail-image{
    background-size:cover;
    background-position: center;
    height: 100%;
    width:100%;
    transition: all 200ms linear;
}
.thumbnail-image:hover{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.current-image{
    position: absolute;
    width:100%;
    top:0;
    left:0;
    overflow-y:auto;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    margin-bottom: 2rem;
}


/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) { 
    .portfolio{
        padding:0;
    }
    .portfolio-header{
        padding: 2.5rem 0 0 0 !important;
    }
    .portfolio-body{
        padding:2rem 0.75rem 1rem 0.75rem !important;
        height: auto;;
    }
    .portfolio-footer{
        position: relative;
    }

    .thumbnail + .thumbnail:nth-child(n+4),
    .thumbnail + .thumbnail:nth-child(n+5),
    .thumbnail + .thumbnail:nth-child(n+6){
        margin-top:0;
    }
    .thumbnail + .thumbnail{
        margin-top:1rem;
    }
    .current-image{
        box-shadow: none;
        margin-bottom: 0;
    }
    .image-open{
        padding:0 !important;
    }

}

.thumbnail-image{
    cursor: pointer;
}
.social-icon{
    width:20px;
    height: 20px;
    transition: transform 100ms ease-in;
}
.social-icon + .social-icon{
    margin-left:1.5rem;
}
.social-icon:hover{
   transform: scale(1.3);
}
.fade {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
.fadeOut{
    animation: fadeout 1s;
    -moz-animation: fadeout 1s; /* Firefox */
    -webkit-animation: fadeout 1s; /* Safari and Chrome */
    -o-animation: fadeout 1s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity: 0;
    }
}
@-moz-keyframes fadeout { /* Firefox */
    from {
        opacity:1;
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes fadeout { /* Safari and Chrome */
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-o-keyframes fadeout { /* Opera */
    from {
        opacity:1;
    }
    to {
        opacity: 0;
    }
}





