.horizontally-placed{
    display:flex;
    margin-top:0;
}
.horizontally-placed .subsection-data + .subsection-data{
    padding-left:3rem;
    
}

.contactimg{
    width: 2rem;
    height:2rem;
}

.contactimg:hover{
    filter: invert(51%) sepia(21%) saturate(5271%) hue-rotate(328deg) brightness(99%) contrast(86%);
}