.subsection + .subsection {
  margin-top: 6rem;
}

.imgcarousel {
  display: flex;
  overflow-y: scroll;
  padding-bottom: 0.5rem;
}
.drawings {
  width: 40%;
}
.drawings + .drawings {
  margin-left: 1rem;
}

/* width */
.imgcarousel::-webkit-scrollbar {
  width: 0;
  height: 4px;
}

/* Track */
.imgcarousel::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
.imgcarousel::-webkit-scrollbar-thumb {
  background: var(--grey6);
  border-radius: 10px;
}

/* Handle on hover */
.imgcarousel::-webkit-scrollbar-thumb:hover {
  background: var(--grey1);
}

/* Track */
.darkmode .imgcarousel::-webkit-scrollbar-track {
  background: var(--grey1);
}

/* Handle */
.darkmode .imgcarousel::-webkit-scrollbar-thumb {
  background: var(--grey2);
  border-radius: 10px;
}

/* Handle on hover */
.darkmode .imgcarousel::-webkit-scrollbar-thumb:hover {
  background: var(--grey1);
}
