.skills-content {
  .subsection-title {
    margin-bottom: 2rem;
  }
  .skill-bar-wrapper {
    display: flex;

    .skill-label {
      width: 20%;
    }
    .bar-graph {
      width: 80%;
    }
    & + .skill-bar-wrapper {
      margin-top: 2rem;
    }
  }
}
