.portfolio {
    padding: 2rem;
}

.portfolio-menu {
    display: flex;
    padding-top: 2rem;
    /* transform: translate(1rem, 0); */
    position: relative;
    left: 0.7rem;
}
.portfolio-menu li + li {
    padding-left: 2rem;
}
.portfolio-menu li a {
    cursor: pointer;
}
.portfolio-body {
    padding: 1rem 2.625rem 2.625rem 2.625rem !important;
    max-width: 74.75rem;
    height: 100%;
    overflow-y: auto;
    align-items: flex-start;
    justify-content: flex-start !important;
    align-content: baseline;
}
.portfolio-header > img {
    width: 2.125rem;
}
.portfolio-footer {
    position: fixed;
    bottom: 0;
    padding: 2rem 0 2rem 0 !important;
    background: white;
}
.thumbnail {
    height: 207px;
}
.portfolio-details {
    display: none;

    border-top: 0;
    background: white;
    position: absolute;
    width: 100%;
    top: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.thumbnail-image:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    width: calc(100% + 24px);
    height: calc(100% + 24px);
    position: absolute;
    left: -12px;
    top: -12px;
    z-index: 2;
}
.details-header > .h6 {
    margin-bottom: 0;
}
.thumbnail-image:hover > .portfolio-details {
    display: block;
}
.thumbnail + .thumbnail:nth-child(n + 4),
.thumbnail + .thumbnail:nth-child(n + 5),
.thumbnail + .thumbnail:nth-child(n + 6) {
    margin-top: 1rem;
}
.thumbnail-image {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.thumbnail-stencil {
    background: linear-gradient(217deg, var(--grey6), var(--grey4));
    background-size: 400% 400%;
    animation: AnimationName 2s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 87% 0%;
    }
    50% {
        background-position: 14% 100%;
    }
    100% {
        background-position: 87% 0%;
    }
}
@keyframes AnimationName {
    0% {
        background-position: 87% 0%;
    }
    50% {
        background-position: 14% 100%;
    }
    100% {
        background-position: 87% 0%;
    }
}

.current-image {
    width: 100%;
}
.portfolio-image-wrapper {
    position: absolute;
    width: 50%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: auto;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 2rem;
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
    .portfolio-image-wrapper {
        overflow-y: hidden;
        margin-bottom: 0;
        width: 100%;
        left: 0;
        right: 0;
        transform: none;
        box-shadow: none;
    }
}
.close-button {
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Gray 3 */
    background: var(--red);
    background-blend-mode: multiply;
    z-index: 2;
    cursor: pointer;
}
.close-button > img {
    width: 1.5rem;
}
/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
    .portfolio {
        padding: 0;
    }
    .portfolio-header {
        padding: 2.5rem 0 0 0 !important;
    }
    .portfolio-body {
        padding: 2rem 0.75rem 1rem 0.75rem !important;
        height: auto;
    }
    .portfolio-footer {
        position: relative;
    }

    .thumbnail + .thumbnail:nth-child(n + 4),
    .thumbnail + .thumbnail:nth-child(n + 5),
    .thumbnail + .thumbnail:nth-child(n + 6) {
        /* margin-top:0; */
    }
    .thumbnail + .thumbnail {
        margin-top: 9.5rem !important;
    }
    .current-image {
        box-shadow: none;
        margin-bottom: 0;
    }
    .image-open {
        padding: 0 !important;
    }

    .portfolio-details {
        display: block;
        position: relative;
        box-shadow: none;
        border: 1px solid var(--grey7);
        border-top: 0;
    }
    .thumbnail-image:hover {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        width: 100%;
        height: 100%;
        position: relative;
        left: 0;
        top: 0;
        z-index: 0;
    }
    .details-body {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: black;
    }
}

.thumbnail-image {
    cursor: pointer;
}
.social-icon {
    width: 20px;
    height: 20px;
    /*transition: transform 100ms ease-in;*/
}
.social-icon + .social-icon {
    margin-left: 1.5rem;
}
.social-icon:hover {
    transform: scale(1.3);
}
.fade {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
.fadeOut {
    animation: fadeout 1s;
    -moz-animation: fadeout 1s; /* Firefox */
    -webkit-animation: fadeout 1s; /* Safari and Chrome */
    -o-animation: fadeout 1s; /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-moz-keyframes fadeout {
    /* Firefox */
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes fadeout {
    /* Safari and Chrome */
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-o-keyframes fadeout {
    /* Opera */
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.skip-button {
    background: var(--red);
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 6rem;
    right: 2rem;
    z-index: 1;
    cursor: pointer;
}
.arrow {
    position: relative;
    height: 1rem;
    width: 1rem;
    top: 0.3rem;
}
.arrow:before {
    content: "";
    position: absolute;
    transform: rotate(45deg);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-top: 2px solid;
    border-color: white;
}
.arrow:after {
    content: "";
    position: absolute;
    transform: rotate(-45deg);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-top: 2px solid;
    border-color: white;
}
