:root {
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  // colors
  --grey0: white;
  --grey1: #333333;
  --grey2: #4f4f4f;
  --grey3: #828282;
  --grey4: #bdbdbd;
  --grey5: #e0e0e0;
  --grey6: #f2f2f2;
  --grey7: #212122;

  --app-background: var(--grey0);
  --input-background: var(--grey0);

  --red: #eb5757;
  --dark-red: #b03535;
  --orange: #f2994a;
  --light-orange: #ffaeae;
  --yellow: #f2c94c;
  --green: #27ae60;

  //font variables
  --font-family-headers: "Montserrat", sans-serif !important;
  --font-family-text: "Poppins", sans-serif !important;
  --font-family-code: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;

  &.darkmode {
    --input-background: #262627;

    --lightest: #212122;
    --darkest: white;

    --grey7: white;
    --grey6: #333333;
    --grey5: #4f4f4f;
    --grey4: #828282;
    --grey3: #bdbdbd;
    --grey2: #e0e0e0;
    --grey1: #f2f2f2;
    --grey0: #212122;

    color: var(--grey1);
  }

  // body bg color and font color
  background-color: var(--app-background) !important;
  color: var(--grey1);

  // font setup
  font-family: var(--font-family-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;

  h1,
  h2,
  h3,
  h4,
  h5,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5 {
    font-family: var(--font-family-headers);
  }

  code {
    font-family: var(--font-family-code);
  }

  // Other common css

  .uppercase {
    text-transform: uppercase;
  }

  .bold {
    font-weight: bold !important;
  }
  .letterspacing-1 {
    letter-spacing: 1px;
  }
  .letterspacing-2 {
    letter-spacing: 2px;
  }

  /*Type*/
  .h1 {
    font-size: 2.75rem;
  }
  .h2 {
    font-size: 2rem;
    display: inline;
    position: relative;
  }
  .h3 {
    font-size: 1.5rem;
  }
  .h4 {
    font-size: 1.25rem;
  }
  .body-text {
    font-size: 1rem;
  }
  .default-text {
    font-size: 1rem;
  }
  .label {
    font-size: 0.875rem;
  }
  ul {
    list-style: none !important;
  }
  ul > li {
    text-decoration: none !important;
  }

  a:hover,
  ul > li a:hover {
    color: var(--red);
    text-decoration: none;
    font-weight: bold;
  }
  ul > li a:hover {
    color: var(--grey2) !important;
  }

  /*Colors*/
  .grey1 {
    color: var(--grey1);
  }
  .grey2,
  .grey2 > a {
    color: var(--grey2) !important;
  }
  .grey3 {
    color: var(--grey3);
  }
  .grey4,
  .grey4 > a {
    color: var(--grey4) !important;
  }
  .grey5 {
    color: var(--grey5);
  }
  .grey6 {
    color: var(--grey6);
  }
  .red,
  .red > a {
    color: var(--red);
  }
  .orange {
    color: var(--orange);
  }
  .yellow {
    color: var(--yellow);
  }
  .green {
    color: var(--green);
  }

  .dot {
    height: 4px;
    width: 4px;
    display: inline-block;
    border-radius: 50%;
    background: var(--grey5);
  }

  input {
    width: 100%;
    border: 1px solid var(--grey5);
    height: 2.5rem;
    padding: 0 1rem;
    //border-radius: 0.25rem;
    transition: background-color 0.5s ease-in-out;
    background: var(--input-background);
  }
  textarea {
    width: 100%;
    border: 1px solid var(--grey5);
    height: 6.5rem;
    padding: 0.5rem 1rem;
    //border-radius: 0.25rem;
    transition: background-color 0.5s ease-in-out;
    background: var(--input-background);
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 1200px) {
  :root {
    font-size: 13px;
  }
  .letterspacing-1 {
    letter-spacing: 1px;
  }
  .letterspacing-2 {
    letter-spacing: 2px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--grey6);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--grey4);
  //border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--grey1);
}
