.subsection.work-experience-content {
  .label {
    margin-top: 0.25rem;
    letter-spacing: 2px;
    display: flex;
    align-items: center;

    span + span {
      margin-left: 1rem;
    }
  }
  .summary {
    padding-top: 0.5rem;
  }
}
