.subsection.work-experience-content {
    .experience-header {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .label {
            padding-top: 0.25rem;
            display: flex;
            align-items: center;

            :is(span) + span {
                margin-left: 1rem;
            }

            .date {
                display: flex;
                gap: 0.5rem;
                align-items: center;

                padding-left: 1rem;
            }
        }
    }

    .summary {
        padding-top: 0.5rem;

        &.list {
            margin-left: 1rem;
            :is(li) {
                list-style: disc;
                list-style-position: outside;
            }
        }
    }

    .stepper {
        display: flex;
        gap: 1rem;

        .stepper-icon {
            position: relative;

            width: 1rem;

            .stepper-dot {
                height: 1rem;
                width: 1rem;

                background-color: var(--primary-color);
                border-radius: 50%;

                position: relative;
                top: 0.75rem;

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 1.5rem;
                    height: 1.5rem;
                    border: 2px solid var(--primary-color);
                    border-radius: 50%;
                }
            }
            .stepper-line {
                position: relative;
                left: 50%;
                border-left: 1px dashed var(--primary-color);
                height: calc(100% - 0.5rem);
                top: 1.5rem;
            }
        }

        .stepper-content {
            flex: 1;
        }
    }
}
