.header {
    transition: all 150ms ease-in;

    z-index: 100;

    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    max-width: calc(var(--app-max-width) + 4rem);

    border-radius: 1rem;

    .header-wrapper {
        transition: all 150ms ease-in;

        display: flex;
        align-items: center;
        justify-content: space-between;

        max-width: var(--app-max-width);
        margin: auto;

        padding: 1rem;

        .menu {
            display: flex;
            align-items: center;
            gap: 2rem;

            .menuItem {
                .darkModeSwitch {
                    position: relative;
                    top: 0.25rem;
                }

                a {
                    font-size: 1rem;
                    color: var(--grey1);

                    &:hover {
                        color: var(--primary-color);
                    }
                }

                &.selected {
                    a {
                        color: var(--primary-color);
                        font-weight: bold;
                        position: relative;

                        &:after {
                            content: '•';
                            font-size: 1rem;
                            position: absolute;
                            top: 70%;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                }
            }
        }
    }

    &.overlayHeader {
        backdrop-filter: blur(0.625rem);
        background: rgba(255, 255, 255, 0.1);

        padding: 0 2rem;

        .header-wrapper {
            .darkModeSwitch svg {
                transition: all 150ms ease-in;
            }
        }
    }
}

.light .overlayHeader {
    background-color: var(--grey9);
}

/* Mobile */
@media (max-width: 425px) {
    .header.overlayHeader {
        padding: 0rem;
        top: 0;
        border-radius: 0;
    }

    .header .header-wrapper .menu {
        gap: 1.5rem;
    }
}
